.login-box {
	width: 300px;
	height: 200px;
	background-color: #eee;
	border-radius: 4px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.login-box .zhanwei{
	width: 100%;
	height: 30px;
}
.login-box .zhanwei.header{
	cursor: move;
}
.login-box .user-info {
	width: 100%;
	height: 100px;
	position: relative;
}

.login-box .user-info .row {
	margin-left: 10%;
	width: 80%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-box .bts {
	height: 50px;
	width: 80%;
	display: flex;
	margin-left: 10%;
}

.login-box .bts .bt-col {
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-box .bts .bt-col .bt {
	width: 50%;
	height: 30px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background-color: #00BFFF;
	border-radius: 4px;
	cursor: pointer;
}
